* {

    margin: 0px;
    padding: 0px;
}

body {

    font-family: 'Poppins', sans-serif;
}

.container {

    width: 1140px;
    margin: 0 auto;

}


header {

    width: 100%;
    float: left;
    position: fixed;
    top: 0px;
    left: 0;
    display: block;
    background-color: #ffffff;
    box-shadow: 2px 2px #666666;

}



.logo {

    width: 25%;
    float: left;
    margin-top: 10px;

}

.nav-bar {
    width: 75%;
    float: left;
    margin-top: 10px;
}

nav ul {

    list-style-type: none;
    padding-left: 20px;
}

nav ul li {
    display: inline-block;
    margin: 8px 5px;

}

nav ul li a {

    text-decoration: none;
    padding: 5px 13px;
    border-radius: 20px;
    font-size: 13px;
    color: #3a3a3a;
    font-weight: 500;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #e89d1a;
    transition: 0.4s ease-in-out;
    font-weight: bold;
    box-shadow: 2px 2px #e89d1a;
    border-bottom: 1px solid #e89d1a;

}

.bg-full-image {
    margin-top: 75px;
    display: block;
    width: 100%;
    float: left;
    height: 600px;
    background: url(../img/web-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.bg-full-image h1 {
    margin: 0 auto;
    width: 50%;
    font-size: 30px;
    text-align: center;
    text-transform: lowercase;
    margin-top: 18%;
    color: #ffffff;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #353a353d;
    border-radius: 30px;
    padding: 20px;

}

.we-offer .offer-sec {

    width: 100%;
    float: left;
}

.we-offer-title {

    text-align: center;
    display: block;
    padding-top: 20px;
    color: #243C6E;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;

}

.demand-skill {

    width: 25%;
    float: left;
}


.expert-mentors {

    width: 25%;
    float: left;
}

.carrer-support {

    width: 25%;
    float: left;
}

.work-globally {

    width: 25%;
    float: left;
}

.offer-sec img {

    padding: 20px 70px;
    height: 150px;
    border-radius: 50px;


}


.we-offer h4 {

    text-align: center;
    font-size: 20px;
    line-height: 60px;
}

.demand-skill .slogan-one {

    color: #02b3e4;

}

.expert-mentors .slogan-two {

    color: #02ccba;

}


.carrer-support .slogan-three {

    color: #a951ed;

}

.work-globally .slogan-four {

    color: #02ccba;
}

.offer-sec p {
    text-align: center;
    line-height: 25px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #767676;
}

.our-course {

    display: block;
}

.course-sec {

    width: 100%;
    float: left;

}

.course-sec h4 {

    text-align: center;
    line-height: 45px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    border-bottom: 0.3px solid #b5b0b05e;
    color: #FFB606;

}



.amsc-sec {

    width: 33.33%;
    float: left;
}

.amsc-sec img {
    margin: 0 auto;
    height: 400px;
    width: 350px;
    padding: 15px;
    border: 1px solid #b5b0b05e;
}

.seo-m-sec {

    width: 33.33%;
    float: left;
}

.seo-m-sec img {
    margin: 0 auto;
    height: 400px;
    width: 350px;
    padding: 15px;
    border: 1px solid #b5b0b05e;
}

.diploma-sec {

    width: 33.33%;
    float: left;
}

.diploma-sec img {
    margin: 0 auto;
    height: 400px;
    width: 350px;
    padding: 15px;

}

.course-sec h5 {
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    padding: 15px;
    font-weight: 400;



}

.course-sec h5:hover {

    color: #e89d1a;
    transition: 0.4s ease-in-out;
    font-weight: bold;
    text-shadow: 2px 2px #545453;
    cursor: pointer;

}


.about-section {
    margin-top: 20px;
    display: block;
    float: left;
    background-color: #08162d;
    height: 680px;
    width: 100%;

}



.about-content h2 {
    font-weight: 500;
    padding-top: 50px;
    padding-left: 20px;
    font-size: 25px;
    color: #ffffff;
    letter-spacing: 1px;
}

.about-content p {

    color: #ffffff;
    padding-top: 50px;
    padding-left: 20px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}

.student-work {
    border-top: 1px solid #ffffff;
    display: block;
    float: left;
    background-color: #3B444C;
    height: 500px;
    width: 100%;
    border-bottom: 1px solid #ffffff;
}

.student-work h3 {
    letter-spacing: 2px;
    color: #ffffff;
    padding-top: 30px;
}

.work-one {

    width: 50%;
    float: left;

}

.work-two {

    width: 50%;
    float: left;

}

.work-one img {
    height: 300px;
    width: 90%;
    margin-top: 50px;
    margin: 0 auto;
    padding-top: 50px;
}

.work-two img {
    height: 300px;
    width: 90%;
    margin-top: 50px;
    margin: 0 auto;
    padding-top: 50px;
}



.partner-sec-png {

    width: 100%;
    float: left;
}


.partner-sec-png h3 {
    text-align: center;
    line-height: 80px;
    letter-spacing: 2px;
}

.png-image-one {

    width: 20%;
    float: left;
}


.png-image-one img {
    margin: 0 auto;
    width: 90%;
    height: 90px;
    padding-bottom: 30px;

}


.png-image-two {

    width: 20%;
    float: left;
}

.png-image-two img {
    margin: 0 auto;
    width: 90%;
    height: 90px;
    padding-bottom: 30px;

}


.png-image-three {

    width: 20%;
    float: left;
}

.png-image-three img {
    margin: 0 auto;
    width: 90%;
    height: 90px;
    padding-bottom: 30px;

}


.png-image-four {

    width: 20%;
    float: left;
}


.png-image-four img {
    margin: 0 auto;
    width: 90%;
    height: 90px;
    padding-bottom: 30px;

}



.png-image-five {

    width: 20%;
    float: left;
}

.png-image-five img {
    padding-bottom: 30px;
    margin: 0 auto;
    width: 90%;
    height: 90px;
}


.featured-png-img {

    width: 100%;
    float: left;
}


.featured-png-img h3 {
    text-align: center;
    line-height: 80px;
    letter-spacing: 2px;
}

.featured-png-one {

    width: 20%;
    float: left;
}


.featured-png-one img {
    padding-bottom: 30px;
    margin: 0 auto;
    width: 90%;
    height: 90px;
}




.featured-png-two {

    width: 20%;
    float: left;
}


.featured-png-two img {
    padding-bottom: 30px;
    margin: 0 auto;
    width: 90%;
    height: 90px;
}


.featured-png-three {

    width: 20%;
    float: left;
}


.featured-png-three img {
    padding-bottom: 30px;
    margin: 0 auto;
    width: 90%;
    height: 90px;
}


.featured-png-four {

    width: 20%;
    float: left;
}


.featured-png-four img {
    padding-bottom: 30px;
    margin: 0 auto;
    width: 90%;
    height: 90px;
}


.featured-png-five {

    width: 20%;
    float: left;
}


.featured-png-five img {
    padding-bottom: 30px;
    margin: 0 auto;
    width: 90%;
    height: 90px;
}

footer {

    display: block;
    float: left;
    background-color: #333333;
    width: 100%;
    border-bottom: 1px solid #ffffff;
}

.footer-sec {

    width: 100%;
    float: left;
}


.call-details {

    width: 30%;
    float: left;
}


.call-details img {

    width: 90%;
    display: block;
    height: 70px;
    margin-top: 50px;
}


.links {

    width: 30%;
    float: left;
    display: block;

}

.consultent {

    width: 40%;
    float: left;
}

.call-details ul {

    list-style-type: none;
    padding-top: 20px;
}




.call-details ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1px;
}

.call-details ul li a i {

    padding-right: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.call-details ul li a:hover {

    color: #1e73be;
    transition: 0.4s ease-in-out;
    font-weight: bold;
    text-shadow: 2px 2px #545453;

}


.links h4 {

    text-align: center;
    padding-top: 20px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px;
    letter-spacing: 2px;
    padding-top: 80px;
}


.links ul {

    text-align: center;
    list-style-type: none;
    padding: 10px;
    padding-top: 20px;
}

.links ul li {

    line-height: 15px;
    padding-top: 20px;
    cursor: pointer;
}


.links ul li a {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 1px;

}

.links ul li a:hover {

    color: #1e73be;
    transition: 0.4s ease-in-out;
    font-weight: bold;
    text-shadow: 2px 2px #545453;
}


.consultent h4 {

    text-align: center;
    padding-top: 20px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px;
    letter-spacing: 2px;
    padding-top: 80px;
}


.consultent a {
    display: inline-block;
    margin-left: 160px;
    margin-top: 20px;
    border-radius: 25px;
    ;
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;

}

.consultent a:hover {
    color: greenyellow;
    transition: 0.4s ease-in-out;
    font-weight: bold;
    box-shadow: 2px 2px #545453;
    border-bottom: 1px solid green;
}


.social-icon {
    display: block;
    text-align: center;
    padding: 20px;
    width: 100%;
    float: left;
}

.social-icon a {
    display: block;


}

.social-icon a i {
    margin: 5px;
    padding: 15px;
    color: #333333;
    background-color: #666666;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
}

.fa.fa-facebook {

    padding: 15px 20px;
}

.fa.fa-facebook:hover {

    background-color: dodgerblue;
    color: #ffffff;
    transition: 0.4s ease-in-out;
    font-weight: 500;
    box-shadow: 2px 2px #ffffff85;
}


.fa.fa-twitter:hover {

    background-color: royalblue;
    color: #ffffff;
    transition: 0.4s ease-in-out;
    font-weight: 500;
    box-shadow: 2px 2px #ffffff85;
}

.fa.fa-linkedin:hover {

    background-color: steelblue;
    color: #ffffff;
    transition: 0.4s ease-in-out;
    font-weight: 500;
    box-shadow: 2px 2px #ffffff85;
}

.fa.fa-youtube:hover {

    background-color: red;
    color: #ffffff;
    transition: 0.4s ease-in-out;
    font-weight: 500;
    box-shadow: 2px 2px #ffffff85;
}


.copyright-cmnt {

    width: 100%;
    float: left;
    display: block;
    line-height: 60px;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
}
